{#
/**
 * @file
 * Starshot Data panel component.
 *
 * Variables:
 * - theme: [string] Theme: light, dark.
 * - description: [string] Data panel description.
 * - link: [object] Link object:
 *    - text: [string] Text for the link.
 *    - url: [string] URL for the link.
 * - image: [object] Image object:
 *    - url: [string] URL for the image.
 *    - alt: [string] Image alt text.
 * - panels: [array] Panels array:
 *   - amount: [string] Amount.
 *   - sub: [string] Sub/Unit of the amount.
 *   - description: [string] Description.
 * - attributes: [string] Additional attributes.
 * - modifier_class: [string] Additional classes.
 */
#}

{% set theme = theme|default('light') %}
{% set theme_class = 'ct-theme-%s'|format(theme) %}
{% set modifier_class = '%s %s'|format(theme_class, modifier_class|default('')) %}

<div class="ct-old-starshot-data-panel {{ modifier_class -}}" {% if attributes is not empty %}{{- attributes|raw -}}{% endif %}>
  <div class="ct-old-starshot-data-panel__wrapper">
    <div class="container">
      <div class="row row--vertically-spaced ct-old-starshot-data-panel__row">
        <div class="col-xxs-12 col-l-4 col-xl-5">
          <div class="ct-old-starshot-data-panel__content">
            {% if image.src %}
              <div class="ct-old-starshot-data-panel__image">
                {% include '@atoms/image/image.twig' with {
                  theme: theme,
                  url: image.src,
                  alt: image.alt,
                } only %}
              </div>
            {% endif %}
            <div class="ct-old-starshot-data-panel__description">{{ description }}</div>
          </div>
        </div>
        <div class="col-xxs-12 col-l-8 col-xl-7">
          <div class="ct-old-starshot-data-panel__stats">
            <div class="row row--equal-heights-content row--vertically-spaced">
              {% for panel in panels %}
                <div class="col-xxs-12 col-l-4">
                  <div class="ct-old-starshot-data-panel__stats__item">
                    <div class="ct-old-starshot-data-panel__stats__number">
                      <span class="ct-old-starshot-data-panel__stats__amount">
                        {{ panel.amount }}
                      </span>
                      <span class="ct-old-starshot-data-panel__stats__sub">
                        {{ panel.sub }}
                      </span>
                    </div>
                    {% include '@atoms/old-starshot-paragraph/old-starshot-paragraph.twig' with {
                      theme: theme,
                      content: panel.description,
                      color: 'body-2',
                      display: 'large',
                      modifier_class: 'ct-old-starshot-data-panel__stats__description',
                    } only %}
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
        <div class="col-xxs-12">
          {% if link is not empty and link.text is not empty %}
            <div class="ct-old-starshot-data-panel__link-wrapper">
              {% include "@atoms/button/button.twig" with {
                theme: link_theme,
                kind: 'link',
                type: 'primary',
                text: link.text,
                url: link.url,
                icon: display == 'vertical' ? '' : 'right-arrow-2',
                modifier_class: 'ct-old-starshot-data-panel__link'
              } only %}
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
